/* Primary Selectors */
body{
    background-color: #FFF;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
table{
    width: 500px;
    border-collapse: collapse;
    table-layout: fixed;
}
td{
    vertical-align: top;
    padding: 5px;
    word-wrap: break-word;
}

/* IDs and classes */

#fullpage{
    margin: 100px;
}
.label_col{
    text-align: right;
}
.input_col{
    text-align: left;
}
.feedback_col{
    text-align: center;
    vertical-align: middle;
    color: lightgray;
    font-size: small;
}
.Button{
    margin: 10px;
    text-align: center;
    width: 50px;
}
